<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${todo.title}"></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <style type="text/css">
        .content {
            margin-left: 15%;
            margin-right: 15%;
            margin-bottom: 15%;
        }
        .header {
            margin-left: 15%;
            background-color: slategrey;

        }
    </style>
</head>
<body>

<div class="header" style="width: 100%; max-width: 1000px; margin: 10px  auto">

    <h2>Todo List</h2>
    <a href="/">Wszystkie</a>
    <span> </span>
    <div style="display: inline-block" th:each="category : ${T(pp.springdata.todo.Category).values()}">
        <a th:href="|/?category=${category.name}|" th:text="${category.getDisplayName()}"></a>
        <span> </span>
    </div>
</div>

<div class="content">
    <h2 th:text="${todo.title}"></h2>

    <b>Termin:</b>
    <span th:text="${todo.deadline}"> </span>

    <br>Opis zadania:</br>
    <span th:text="${todo.description}"> </span><br/>

    <br/><br/>
    <a th:href="|/todo/${todo.id}/edit|">Edytuj</a>
</div>

</body>
</html>